# Ignore Python cache and compiled files
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore environment folders
env/
venv/
mml/
.mml/
.mml_env/


# Ignore dataset folders and outputs
dataset/
*.jsonl
*.pth
*.png
*.jpeg
*.csv
*.xlsx
*.txt

datasets/